*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "nunito";
  font-weight: bold;
}

.success {
  border: 2px solid #16a25e;
  background-color: #eee;
  padding: 15px;
}

.error {
  border: 2px solid tomato;
  background-color: #eee;
  padding: 15px;
}

button {
  outline: none;
  border: none;
  padding: 8px 12px;
  background-color: #333;
  color: #eee;
  border-radius: 4px;
}

.button {
  height: 40px;
  width: 150px;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: "nunito";
  font-weight: bold;
}

input {
  outline: none;
  border: none;
  border-radius: 4px;
  height: 40px;
  border: 2px solid #333;
  font-weight: bold;
  font-family: "nunito";
  font-size: 22px;
  padding: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 20px;
}
